/* Estilo personalizado para el campo de país con country-select-js */
.country-select {
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho del contenedor padre */
  position: relative;
}

.country-select .selected-flag {
  width: 100%; /* Asegura que el contenedor de la bandera seleccionada ocupe el 100% del contenedor padre */
  padding: 0.625rem; /* Relleno interno para el contenedor de la bandera seleccionada */
  display: flex;
  align-items: center;
  border-radius: 0.5rem; /* Bordes redondeados */
  transition: border-color 0.3s ease; /* Transición suave para el borde */
}

/* ---------------------------------------------------- */

/* Estilo para el contenedor principal del registro */
.registro-contenedor {
  margin: 0 auto; /* Centra el contenedor */
  max-width: 80rem; /* Ancho máximo */
  background-color: #f9f9f9; /* Fondo gris claro */
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra más suave */
  padding: 2rem; /* Aumenta el relleno */
}

/* Estilo para el contenedor del registro */
.registro {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  gap: 2rem; /* Espacio entre las secciones izquierda y derecha */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

/* Estilo para la parte izquierda del registro y la parte derecha */
.registro-izquierda, .registro-derecha {
  flex: 1; /* Ocupa el espacio disponible */
  padding: 0.5rem; /* Aumenta el relleno interno */
}

/* Estilo para los campos de entrada del formulario */
.campo {
  margin-bottom: 1.5rem; /* Margen inferior */
}

input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

/* Estilos para los campos de tipo text, email, tel, fecha y select */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="pais"],
input[type="number"],
select {
  width: 100%; /* Ancho completo */
  padding: 0.75rem; /* Relleno interno */
  border: 0.0625rem solid #ccc; /* Borde gris */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
  transition: border-color 0.3s ease; /* Transición suave para el borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #194e9a; /* Borde azul en foco */
  outline: none; /* Sin borde de enfoque */
}

/* Estilo para el checkbox y su etiqueta */
.campo-checkbox {
  display: flex;
  align-items: center;
}

.campo-checkbox input[type="checkbox"] {
  margin-right: 0.5rem; /* Espacio entre el checkbox y la etiqueta */
}

/* Estilo para el contenedor de los botones */
.botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem; /* Espacio superior */
}

/* Estilo para los botones */
.boton {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 48%; /* Ajuste para dejar espacio entre los botones */
  border: none; /* Sin borde */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  display: inline-block; /* Para que los botones sean del mismo tamaño */
}

/* Estilo para el botón de enviar del formulario */
.boton-registrarse {
  background-color: #194e9a; /* Color de fondo azul */
  color: white; /* Color de texto blanco */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Cambio de color de fondo al pasar el ratón sobre el botón "Registrarse" */
.boton-registrarse:hover {
  background-color: #0e3a7f; /* Color de fondo azul oscuro */
}

/* Estilo para el botón "Cancelar" */
.boton-cancelar {
  background-color: #a9a9a9; /* Color de fondo gris */
  color: white; /* Color de texto blanco */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Cambio de color de fondo al pasar el ratón sobre el botón "Cancelar" */
.boton-cancelar:hover {
  background-color: #8d8d8d; /* Color de fondo gris oscuro */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 48rem) {
  /* Ajuste para los contenedores de registro */
  .registro-izquierda, .registro-derecha {
    padding: 0;
    width: 100%; /* Ocupa el 100% del ancho */
  }

  .registro {
    flex-direction: column; /* Apila los formularios uno encima del otro */
    gap: 1rem; /* Espacio entre secciones reducido */
  }

  /* Estilo para los botones en pantallas pequeñas */
  .botones {
    flex-direction: row; /* Coloca los botones uno al lado del otro */
    align-items: center;
    justify-content: space-between;
  }

  .boton-cancelar {
    margin-top: 0; /* Quita el margen superior */
    width: 48%; /* Ajusta el ancho de los botones */
  }

  .boton-registrarse {
    width: 48%; /* Ajusta el ancho de los botones */
  }
}

/* Centrar texto en la sección de párrafo */
.parrafo-estilo {
  margin-top: 0rem;
  text-align: center; /* Centra el texto */
  font-size: 1rem; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  line-height: 1.5; /* Altura de línea */
  margin-bottom: 1rem; /* Margen inferior */
}

.parrafo-opcional {
  margin-top: 0rem;
  font-size: 0.7rem; /* Tamaño de fuente */
  color: #838383b0; /* Color del texto */
}

.error {
  margin-top: 0rem;
  font-size: 0.7rem; /* Tamaño de fuente */
  color: #dc3545; /* Color del texto */
}

/* Estilo personalizado para el campo de teléfono */
.iti {
  width: 100%;
}

.iti__flag-container {
  padding-right: 0.625rem;
}

.iti__selected-flag .iti__flag {
  margin-right: 0.5rem;
}

.iti__country-name {
  margin-left: 1.25rem;
}

.iti__dial-code {
  margin-left: 0.3125rem;
}
