/* Estilos para el contenedor principal del encabezado */
.header2 {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
    justify-content: space-between; /* Distribuye los elementos al principio y al final del contenedor */
    margin-top: 7rem;
    padding: 0.5rem 2rem;
    width: calc(100% - 10rem); /* Asegura que el contenedor tenga un espacio a la izquierda y derecha */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */

    /*Estilos del contenedor*/
    transition: 0.5s linear; 
    border: 1px solid #7775752a;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.navbar2 {
    display: flex; /* Utiliza flexbox para organizar los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
}

/* Estilos para la barra de navegación */
.navbar2 a {
    margin-right: 1.5rem;
    white-space: nowrap; /* Evita que los elementos se envuelvan en múltiples líneas */
    color: #1b1b1b;
    position: relative;
    padding: 0.4rem 0;
}
/*animacion al pasar el mouse*/
.navbar2 a::after {
    content: ''; /* Agrega un contenido vacío */
    position: absolute; /* Establece una posición absoluta */
    left: 0; /* Coloca la línea al inicio del enlace */
    bottom: -2px; /* Coloca la línea debajo del texto */
    width: 0; /* Ancho inicial de la línea (se activará solo al pasar el mouse) */
    height: 2px; /* Altura de la línea */
    background-color: rgba(54, 109, 237, 0.9); /* Color de la línea */
    transition: width 0.3s ease-in-out; /* Transición suave */
}

.navbar2 a:hover::after {
    width: 100%; /* Ancho de la línea al 100% al pasar el mouse */
}

/* Estilo para la linea de el enlace permanesca activo */
.navbar2 a.active::after {
    width: 100%; /* Ancho de la línea al 100% para el enlace activo */
}



/* Estilos para el contenedor del usuario */
.cc-usuario {
    position: relative; /* Necesario para que el submenú se posicione correctamente */
}
.cc-usuario a{
    display: flex;
    align-items: center;
    color: #1b1b1b;     
    gap: 2px;
}
/* Estilos para el icono del usuario */
.cc-usuario a .bx-user-pin {
    font-size: 1.7rem; /* Tamaño deseado para el icono bx-user-pin */
    color: #194e9a;
    margin: 0 7px;
}
/* Submenu de los enlaces en el segundo navbar */
.submenu2 {
    display: none;
    position: absolute;
    white-space: nowrap;
    list-style: none;
    transition: 0.5s linear; 
    border: 1px solid #7775752a;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    background-color: #fff;


    margin-top: 0.8rem; /* Ajusta según sea necesario */
    z-index: 1000; /* Asegura que el submenú aparezca por encima de otros elementos */
    top: 100%; /* Posiciona el submenú justo debajo del enlace */
    left: 50%; /* Inicia el submenú desde el centro del enlace */
    transform: translateX(-43%); /* Centra el submenú horizontalmente */
  }
  
  .submenu2 li {
    margin: 0.4rem;
  }
  
  .submenu2 li a {
    padding: 4px 17px;
    color: black;
    font-size: 1rem;
    font-weight: 450;
  }

  .submenu2 li a:hover{
    color: #194e9a;
  }
  
  .submenu2.show {
    display: block;
    
  }


/*--------------------------------------------------------------------------*/

.grid-tramites{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,12rem), auto));
    justify-content: center;
    gap: 2rem;
}
.titulo-tramites{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.cuadros-tramites {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center;
    width: 15rem;
    height: 12rem;
    background-color: #f8f9fa8c;
    transition: 0.5s linear;
    border: 1px solid #7775752a;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.cuadros-tramites a {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    color: #1b1b1b;
    gap: 0.5rem;

}

.cuadros-tramites a .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem; /* Altura fija para mantener todos los íconos en la misma posición */
}

.cuadros-tramites a i {
    color: #194e9a;
    font-size: 2.5rem; /* Asegura un tamaño uniforme para todos los íconos */
}
.cuadros-tramites a p {
    height: 3rem; /* Altura fija para el párrafo de texto */
    text-align: center;
    overflow: hidden; /* Oculta texto desbordado si es necesario */
    display: flex;
    justify-content: center;
}

.cuadros-tramites:hover {
    transform: scale(1.05); /* Escala */
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2); /* Un poco más de sombra para resaltar */
    transition: 0.2s linear; 
    background-color: #ffffff4d;

}







/*-------------- consulta-tramite.php-----------------*/
/*Estilos Contenedor formulario de radicacion */

.contenedor-formulario-radicacion{
    display: flex;
    justify-content: center;
}

.contenedor-formulario-radicacion form{
    display: flex;
    flex-direction: column; 
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 30rem;
}
.contenedor-formulario-radicacion label {
    font-size: 1rem;
    color: #1c244e;
    margin-top: 0.625rem; /* 10px */
  }

  .contenedor-formulario-radicacion input{
  padding: 0.625rem; /* 10px */
  margin-top: 0.3125rem; /* 5px */
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem; /* 4px */
  font-size: 0.9rem;
}

  .contenedor-formulario-radicacion button {
    background-color: #194e9a;
    color: white;
    border: none;
    padding: 0.625rem; /* 10px */
    border-radius: 0.5rem; /* 4px */
    cursor: pointer;
    font-size: 0.9rem;
  }

.accion-iconos-tabla{
    display: flex;
    gap: 0.9rem;
    padding: 0.9rem;
}

.accion-iconos-tabla i{
    font-size: 27px;
    color: #194e9a;

}
.accion-iconos-tabla i:hover {
    transform: scale(1.07); /* Escala */
    transition: 0.2s linear; 
}

/*--------------FIN consulta-tramite.php-----------------*/




@media (max-width: 920px) {
    .header2 {
      width: calc(100% - 6rem);
      padding: 0;
      justify-content: center;
    }
    
    .navbar2 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      padding: 1rem 0;
    }
    .navbar2 a {      
        margin-right: 0px;
    }
     
    .cc-usuario {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      gap: 1rem;
      justify-content: center;
      padding: 1rem 2rem 1rem 2rem;
    }
  }
  