/* Estilos para el contenedor principal del encabezado */
.header2 {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
    justify-content: space-between; /* Distribuye los elementos al principio y al final del contenedor */
    margin-top: 7rem;
    padding: 0.5rem 2rem;
    max-width: min(100%, 1340px);
    position: relative;
    left: 100px;
    /*Estilos del contenedor*/
    transition: 0.5s linear; 
    border: 1px solid #7775752a;
    border-radius:0.8rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.navbar2 {
    display: flex; /* Utiliza flexbox para organizar los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
}

/* Estilos para la barra de navegación */
.navbar2 a {
    margin-right: 1.5rem;
    white-space: nowrap; /* Evita que los elementos se envuelvan en múltiples líneas */
    color: #1b1b1b;
    position: relative;
    padding: 0.4rem 0;
}
/*animacion al pasar el mouse*/
.navbar2 a::after {
    content: ''; /* Agrega un contenido vacío */
    position: absolute; /* Establece una posición absoluta */
    left: 0; /* Coloca la línea al inicio del enlace */
    bottom: -2px; /* Coloca la línea debajo del texto */
    width: 0; /* Ancho inicial de la línea (se activará solo al pasar el mouse) */
    height: 2px; /* Altura de la línea */
    background-color: rgba(171, 178, 211, 0.9); /* Color de la línea */
    transition: width 0.3s ease-in-out; /* Transición suave */
}

.navbar2 a:hover::after {
    width: 100%; /* Ancho de la línea al 100% al pasar el mouse */
}

/* Estilos para el contenedor del usuario */
.cc-usuario a{
    display: flex;
    align-items: center;
    color: #1b1b1b;     
    gap: 2px;
}
/* Estilos para el icono del usuario */
.cc-usuario a .bx-user-pin {
    font-size: 1.7rem; /* Tamaño deseado para el icono bx-user-pin */
    color: #194e9a;
    margin: 0 7px;
}


